body {
    margin: 0;
    background: #E5E5E5;
    display: flex;
}

.container {
    display: flex;
    position: relative;
    width: 625px;
    height: 385px;
    left: 200px;
    top: 50px;
    
    background: #1B244A;
}
#main-heading{
    position: absolute;
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    color: #E5E5E5 ;
    text-align: center;
    margin-left:215px;
    margin-top: 15px;
}

#home{
    position: absolute;
width: 149px;
height: 36px;
left: 75px;
margin-top: 90px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;

}

#guest{
    position: absolute;
width: 149px;
height: 36px;
left: 400px;
margin-top: 90px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;

}

#home-display{
position: absolute;
width: 155px;
height: 120px;
left: 75px;
margin-top: 150px;

background:#080001;
border-radius: 5px;
}
#htext{
position: absolute;
width: 100px;
height: 120px;
margin-left: 30px;
margin-top: 0px;
background: #080001;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
/* or 141% */

text-align: center;

color: #F94F6D;
}
#guest-display{
   position: absolute;
width: 155px;
height: 120px;
left: 400px;
margin-top: 150px;

background: #080001;
border-radius: 5px;
}
#gtext{
    position: absolute;
    width: 100px;
    height: 120px;
    margin-left: 30px;
    margin-top: 0px;
    background: #080001;
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    
    text-align: center;
    
    color: #F94F6D;
    }

#h-one,#h-two,#h-three,#g-one,#g-two,#g-three{
    position: absolute;
width: 30px;
height: 25.77px;
margin-top: 290px;



font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: #9AABD8;

}
#h-one{
    left: 75px;
    
}
#h-two{
    left: 135px;
    
}
#h-three{
    left: 195px;
    
}
#g-one{
    left: 400px;
    
}
#g-two{
    left: 460px;
    
}
#g-three{
    left: 520px;
    
}